.container {
  max-width: 960px;
}

.bgimg{
    background-image: url(images/bg.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
}

.service-image{
    width: 80%;
    height: auto;
    border-radius: 21px 21px 0 0
}

ul li{
    list-style-type:none;
}

.flex-equal > * {
  flex: 1;
}

a{
    text-decoration: none;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}